# Path
[ -d "$HOME"/.local/bin ] && export PATH="$HOME"/.local/bin:$PATH

# Set the editor.
export EDITOR=nvim-qt

# Tell Google Cloud SDK to use packages from system python
# (2024-05-14) ... IIRC, this setting avoids to a warning related to numpy... not sure anymore...
export CLOUDSDK_PYTHON_SITEPACKAGES=1
